# Test application
PORT=3000
APP_BASE_URL=http://localhost:3000
CORS_ORIGIN=*

# Prisma
DATABASE_URL=postgresql://docker:docker@localhost:5432/fast-feet-api?schema=public

# Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1

# Rate limit
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=1000

# Storage
STORAGE_DRIVER=local
STORAGE_LOCAL_DIR=data/uploads/test
STORAGE_LOCAL_BASE_URL=http://localhost:3000/uploads
